{% extends "base.html" %}
{% load static %}

{% block body %}
    <link rel="stylesheet" href="{% static 'css/created.css' %}">

    <div class="center-screen">
        <div class="container">
            <div class="layout-text-box">
                <img src="/project/static/image/person.png" alt="" class="img">
    
                <p class="head">Hello, Sittichok</p>

                <form method ="post">
                    <table>
                    {% for person in data %}
                    <tr>
                        <td>{{ person.employee_id }}</td>
                        <td>{{ person.card_id }}</td>
                    </tr>
                    {% endfor %}
                    </table>
                </form>

                <button class="btn" type="submit">NEXT</button>
            </div>
        </div>
    </div>
    
{% endblock %}