{% extends "base.html" %}
{% load static %}

{% block title %}Registration{% endblock %}

{% block body %}
    <link rel="stylesheet" href="{% static 'css/create.css' %}">

    <h1>Registration</h1>
    <form method ="post" action="person_created">
        {% csrf_token %}
        <h2>Enter Your Employee ID</h2>
        <input type="text" name="employee_id" placeholder="Your Employee ID">
        <h2>Enter Your Identification Card</h2>
        <input type="text" name="card_id" placeholder="Your Identification Card"><br>
        <input type="submit"><br>
    </form>
{% endblock %}