{% extends "base.html" %}
{% load static %}

{% block title %}Authentication{% endblock %}

{% block body %}
    <link rel="stylesheet" href="{% static 'css/create.css' %}">

    <div class="center-screen">
        <div class="container">
            <div class="layout-text-box">
                <p class="head">Authentication</p>

                <form method ="post" action="person_created">
                    {% csrf_token %}
                    <p class="sec-head">Enter your Employee ID</p>
                    <small>Please enter your employee ID.</small><br>
                    <input class="input-box" type="text" name="employee_id" placeholder="">
                    <p class="sec-head">Enter your Personal ID card number</p>
                    <small>Please enter your 13-digit ID Card number.</small><br>
                    <input class="input-box" type="text" name="card_id" placeholder=""><br>
                    <button class="btn" type="submit">ENTER</button>
                </form>
            </div>
        </div>
    </div>
    
{% endblock %}