{% extends "base.html" %}
{% load static %}

{% block body %}
    <link rel="stylesheet" href="{% static 'css/reset_page.css' %}">

    <div class="center-screen">
        <div class="container">
            <div class="layout-text-box">
                <h1 class="head">Reset Password</h1>
                
                <form method ="post" action="reset_success/">
                    {% csrf_token %}

                    <p class="sec-head">Enter New Password</p>
                    <small>To help keep your information safe, your password must contain:</small>
                    <ul>
                        <li><small>At least 8 characters</small></li>
                        <li><small>At least one uppercase, lowercaase letter and numeric.</small></li>
                    </ul>
                    
                    <input class="input-box" type="password" name="new_password" placeholder="">
                    <p class="sec-head">Confirm New Password</p>
                    <input class="input-box" type="password" name="confirm_password" placeholder="">
                    <button class="btn" type="submit">RESET PASSWORD</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}