{% extends "base.html" %}
{% load static %}

{% block body %}
    <link rel="stylesheet" href="{% static 'css/success.css' %}">

    <div class="center-screen">
        <div class="container">
            <div class="layout-text-box">
                <p class="head">Success!</p>

                <img src="/project/static/image/success.png" alt="">

                <p class="third-head" style="color: black;">Your password has been changed.</p>
            </div>
        </div>
    </div>
    <!-- <form method ="post">
        <table>
        {% for password in data %}
        <tr>
            <td>{{ password.pass_1st }}</td>
            <td>{{ password.pass_2nd }}</td>
        </tr>
        {% endfor %}
        </table>
    </form> -->
{% endblock %}