{% extends "base.html" %}
{% load static %}

{% block style %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
{% endblock %}

{% block body %}
    <h1><center>Reset Password Page</center></h1>
    <hr>
    <form method ="post" action="reset_success/">
        {% csrf_token %}
        <h4><center>Enter Your New Password</center></h4>
        <center><input type="text" name="new_password" placeholder="Your New Password"></center>
        <h4><center>Confirm Your New Password</center></h4>
        <center><input type="text" name="confirm_password" placeholder="Confirm Your New Password"></center><br>
        <center><input type="submit"></center><br>
    </form>
{% endblock %}