body {
    color: var(--main-green-color);
    background: url(/project/static/image/bg2.png) no-repeat;
    background-size: cover;
}

.head {
    font-size: 30px;
    font-weight: 600;
    letter-spacing: -1.5px;
}

.sec-head {
    font-size: 22px;
    margin: 2rem 0 10px 0;
}

.center-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    position: relative;
    overflow: hidden;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    width: 425px;
    height: 481px;
    background: rgba(245, 245, 245, 0.6);
    border-radius: 10px;
}

.layout-text-box {
    position: relative;
    width: 343px;
    height: auto;
}

form {
    margin-top: 2em;
    width: 100%;
}

.input-box {
    border: 2px solid var(--main-green-color);
    padding: 10px 10px;
    width: 100%;
    margin-top: 10px;
    box-sizing: border-box;
}

.btn {
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 13px;
    letter-spacing: .4px;
    padding: 10px 0px;
    width: 100%;

    cursor: pointer;
    background: var(--main-green-color);
    line-height: 2em;
    color: white;
    border-radius: 5px;
    border: none;
    margin: 2rem 0 0 0;
}

small {
    color: var(--text-grey-color);
}

@media screen and (max-width: 425px),(max-height: 481px) {
    body {
        overflow: visible;
        margin: none;
    }
    .container {
        /* background: none; */
    }
    .layout-text-box {
        height: auto;
        margin: 10px 20px;
    }
}